@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    background-color: darkorange;
    position: fixed;
    top: 0;
    left: -1px;
    width: 100%;
    opacity: 0.8;
}

header li {
    float: right;
}

header li a {
    text-decoration: none;
    color: chocolate;
    display: block;
    padding: 20px;
    font-size: 1.2em;
    text-transform: uppercase;
}

a:hover {
    color: blueviolet;
}


#intro {
    font-family: 'Dancing Script',
        cursive;
    font-weight: bold;
    float: left;
}

#img {
    padding-top: 60px;
    background: url(media/salon2.webp) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}

h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 3rem;
    font-family: 'Dancing Script',
        cursive;
    color: blanchedalmond;
}

#section {
    background-color: #FFFAE1;
    margin-top: -20px;
    padding: 10px 0px 100px 0px;
}

#para {
    text-align: center;
    padding: 0 30%;
    font-family: 'Advent', sans-serif;
}

#para h2 {
    color: coral;
    font-size: 2rem;
    font-family: 'Dancing Script',
        cursive;
}

#galery {
    display: flex;
    justify-content: space-between;
    padding: 30px 20%;
}

.img h4 {
    color: gold;
    font-size: 1.2rem;
    font-family: 'Dancing Script',
        cursive;
    font-weight: 300;
}

.img img {
    width: 70%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 4px 5px 4px rgba(0, 0, 0, 0.7);
}


form {
    text-align: center;
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

#copy {
    display: flex;
}

#copi {
    padding-left: 10px;

}

#icons {
    padding-left: 1000px;
}